<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CopyDllsToProficy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CopyDllsToProficy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <CopyDllsToProficy.Properties.Settings>
            <setting name="SourceFolderPath" serializeAs="String">
                <value>C:\Program Files</value>
            </setting>
            <setting name="Servers" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>wpdevapppfc2016</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ServerShareMessageShown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MainWindowPlacement" serializeAs="String">
                <value />
            </setting>
            <setting name="ConvertServerNamesToUpperCase" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SelectedServerIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SelectedSolutionIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SelectedProjectIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SelectedFileIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MigrateServerSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UpgradeSettings" serializeAs="String">
                <value>True</value>
            </setting>
        </CopyDllsToProficy.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <CopyDllsToProficy.Properties.Settings>
            <setting name="ProficyDllFolderPath" serializeAs="String">
                <value>Workflow_dlls</value>
            </setting>
            <setting name="OfflineLogFolderPath" serializeAs="String">
                <value>C:\WY\Logs</value>
            </setting>
            <setting name="OnlineLogFolderPath" serializeAs="String">
                <value>\\wpdevapppfc2016\WY\Logs</value>
            </setting>
        </CopyDllsToProficy.Properties.Settings>
    </applicationSettings>
</configuration>
